
<% if @skills %>
<div class="card m-3">
  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">Skills</h4>
    <!-- Text -->
    <% @skills.each do |skill| %>
      <p class="card-text">
        <%= skill.name %>
        <% if current_user == @user %>
          <%= link_to(skill, method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <i class="fas fa-trash float-right"></i>
          <% end %>
        <% end %>
      </p>
      
    <% end%>
    <!-- Button -->
    <% if current_user == @user %>
      <%= render 'skills/form', skill: Skill.new %>
    <% end %>

  </div>

</div>
<% else %>
<div>
  <div class="card text-center py-5 px-4 m-3">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>There are no skills added yet</strong></h2>
      <% if current_user == @user %>
        <%= link_to 'Add Skills', new_skill_path, class: "btn default-color btn-lg white-text"  %>
      <% end %>
    </div>
  </div>
</div>
<% end %>